name: Coverage CI

on:
  pull_request:
  push:
    tags-ignore:
      - '*'
  workflow_dispatch:

concurrency:
  group: coverage-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  coverage:
    uses: ./.github/workflows/reusable-build-test.yml
    with:
      run_commitlint: false
